numpy>=1.22.3
pandas>=1.4.2
tqdm>=4.64.0
gensim>=4.1.2
bokeh>=2.4.2
streamlit>=1.8.1
flashtext>=2.7
imbalanced-learn>=0.9.0
pyLDAvis~=2.1.2
scipy>=1.8.0
Flask>=2.1.2
Jinja2>=3.1.2
cachelib>=0.6.0
SQLAlchemy>=1.4.36
Werkzeug>=2.1.2
python-dateutil>=2.8.2
tornado>=6.1
six>=1.16.0
multiprocess>=0.70.12.2