<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
{#            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">#}
            <h1>Evo-Lyzer</h1>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('index_page.index') }}">
                Home
            </a>
            <a class="navbar-item" href="{{ url_for('index_page.index') }}">
                Data
            </a>
            <a class="navbar-item" href="{{ url_for('topics_page.topics') }}">
                Topics
            </a>
            <a class="navbar-item" href="{{ url_for('analysis_page.analysis') }}">
                Analysis
            </a>
        </div>
        <!-- <div class="navbar-end">
        </div> -->
    </div>
</nav>